.login {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 136px;

  &__subtitle {
    margin-bottom: 98px;
  }

  &__question {
    margin-top: 30px;
  }
}
