<ng-container *ngIf="isShowMessageSuccessfully">
  <app-message-successfully
    [message]="'Вы авторизованы'"
  ></app-message-successfully>
</ng-container>

<div class="login">
  <div class="title">Вход</div>
  <div class="subtitle login__subtitle">Введите свои данные</div>
  <app-login-form [formControl]="loginValue"></app-login-form>

  <button
    class="button-auth"
    (click)="login()"
    [ngClass]="{
      'button-auth--disabled': !loginValue.valid,
      'button-auth--active': loginValue.valid
    }"
    [disabled]="!loginValue.valid"
  >
    <span>ВОЙТИ</span>
  </button>

  <div class="question login__question">
    Нет аккаунта?<span (click)="register()" class="link question__link">
      Зарегистрироваться</span
    >
  </div>
</div>
