<ng-container *ngIf="isShowMessageSuccessfully">
  <app-message-successfully
    [message]="'Вы зарегистрированы'"
  ></app-message-successfully>
</ng-container>

<div class="registration">
  <div class="title">Регистрация</div>
  <div class="subtitle registration__subtitle">Введите свои данные</div>
  <app-registration-form [formControl]="registration"></app-registration-form>
  <div class="registration__check">
    <input
      class="checkbox"
      [formControl]="isCheck"
      id="checkbox"
      type="checkbox"
    />
    <label class="checkbox-label" for="checkbox"
      ><span class="checkbox-label__text"
        >Я даю свое согласие на обработку персональных данных</span
      ></label
    >
  </div>
  <button
    class="button-auth"
    (click)="register()"
    [ngClass]="{
      'button-auth--disabled': !(registration.valid && isCheck.value),
      'button-auth--active': registration.valid && isCheck.value
    }"
    [disabled]="!(registration.valid && isCheck.value)"
  >
    <span>ЗАРЕГИСТРИРОВАТЬСЯ</span>
  </button>
  <div class="question registration__question">
    Есть аккаунт?<span (click)="login()" class="link question__link">
      Войти</span
    >
  </div>
</div>
