.registration {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 136px;

  &__subtitle {
    margin-bottom: 98px;
  }

  &__check {
    margin-bottom: 34px;
  }

  &__question {
    margin-top: 30px;
  }
}

.checkbox-label {
  color: #000000;
  font-size: 13px;
  line-height: 16px;
  vertical-align: baseline;
  font-family: SF Compact Display, sans-serif;

  &__text {
    margin-left: 13px;
  }
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.checkbox + label::before {
  content: '\00A0';
  display: inline-block;
  margin: 0;
  height: 9px;
  width: 9px;
  border: 1px solid #dedede;
  border-radius: 0;
  padding: 3px;
}

.checkbox:checked + label::before {
  background: #1c1c1c;
}
