<div class="container">
  <input
    class="input container__input"
    *ngIf="control"
    [formControl]="control"
    [type]="type"
    [ngClass]="{
      'input--valid': control.valid,
      'input--invalid': !control.valid
    }"
    required
  />
  <span
    class="underline container__underline"
    [ngClass]="{
      'underline--valid': control.valid,
      'underline--invalid': !control.valid
    }"
  ></span>
  <label class="container__label">{{ label }}</label>
</div>
