.container {
  position: relative;
  margin-bottom: 35px;

  &__input {
    width: 374px;
  }

  &__underline {
    position: relative;
    width: 374px;
  }

  &__label {
    position: absolute;
  }
}

input {
  padding: 0 0 9px;
  font-size: 15px;
  line-height: 18px;
  display: block;
  border: none;
  border-bottom: 1px solid #dedede;
}

input:focus {
  outline: none;
}

.input--valid {
  color: #1c1c1c;
}

.input--invalid {
  color: #d00000;
}

label {
  font-family: SF Compact Display, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #939292;
  pointer-events: none;
  top: 10%;

  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

input:focus ~ label,
input:valid ~ label,
input[value]:not([value='']) ~ label {
  top: -19px;
  font-size: 12px;
  line-height: 14px;
  color: #939292;
  transform: scale(1) translateX(0);
}

input:focus ~ .underline:before,
input:focus ~ .underline:after {
  width: 50%;
}

.underline {
  display: block;
}

.underline:before,
.underline:after {
  width: 0;
  bottom: 0;
  content: '';
  height: 1px;
  position: absolute;

  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.underline--valid:before,
.underline--valid:after {
  background: #1c1c1c;
}

.underline--invalid:before,
.underline--invalid:after {
  background: #d00000;
}

.underline:before {
  left: 50%;
}

.underline:after {
  right: 50%;
}
