<form
  class="registration-form"
  *ngIf="registrationForm"
  [formGroup]="registrationForm"
>
  <app-input
    [setFormControl]="registrationForm.controls['name']"
    [label]="'Имя'"
    [type]="'text'"
  ></app-input>
  <app-input
    [setFormControl]="registrationForm.get('nickname')"
    [label]="'Никнейм'"
    [type]="'text'"
  ></app-input>
  <app-input
    [setFormControl]="registrationForm.get('email')"
    [label]="'Email'"
    [type]="'text'"
  ></app-input>
  <app-input
    [setFormControl]="registrationForm.get('phone')"
    [label]="'Телефон'"
    [type]="'text'"
    appPhone
  ></app-input>

  <div class="password">
    <app-input
      [setFormControl]="registrationForm.get('password')"
      [label]="'Пароль'"
      [type]="!isShowPassword ? 'password' : 'text'"
    ></app-input>
    <div
      class="icon-eye password__icon--eye"
      [ngClass]="{
        'icon-eye--active': isShowPassword,
        'icon-eye--closed': !isShowPassword
      }"
      (click)="toggleShowPassword()"
    ></div>
  </div>
</form>
