.message-successfully {
  //position: fixed;
  z-index: 1000;
  height: 100%;
  width: 100%;
  display: flex;
  text-align: center;
  background: white;
  align-items: center;
  justify-content: center;

  &__content {
    display: flex;
    flex-direction: column;
  }
}

.content {
  align-items: center;
  &__text {
    margin-top: 96.75px;
  }

  &__icon {
    height: 212px;
    width: 212px;
  }
}

.text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #1c1c1c;
}
