<div class="message-successfully">
  <div class="content message-successfully__content">
    <div class="content__icon">
      <embed src="../../../../assets/svg/check.svg" />
    </div>
    <div class="text content__text">{{ message }}</div>
  </div>
</div>
