<div class="header">
  <div class="user header__user">
    <ng-container *ngIf="loading$ | async as loading">
      <ng-container *ngTemplateOutlet="loadingTmpl"></ng-container>
    </ng-container>
    <ng-container *ngIf="activeUser$ | async as user">
      <p>Добрый день, {{ user.name }}</p>
    </ng-container>
  </div>
  <button
    class="header__logout button-auth"
    (click)="logout()"
    [ngClass]="{
      'button-auth--disabled': loading$ | async,
      'button-auth--active': !(loading$ | async)
    }"
    [disabled]="loading$ | async"
  >
    <span>ВЫЙТИ</span>
  </button>
</div>

<ng-template #loadingTmpl>
  <div class="loading">Loading..</div>
</ng-template>
