.login-form {
  display: flex;
  flex-direction: column;
}

.password {
  position: relative;

  &__icon--eye {
    position: absolute;
    right: 0;
    top: -40px;
    bottom: 4px;
    width: 20px;
  }
}
