<form class="login-form" *ngIf="loginForm" [formGroup]="loginForm">
  <app-input
    [setFormControl]="loginForm.controls['emailPhone']"
    [label]="'Email или номер телефона'"
    [type]="'text'"
  ></app-input>

  <div class="password">
    <app-input
      [setFormControl]="loginForm.controls['password']"
      [label]="'Пароль'"
      [type]="!isShowPassword ? 'password' : 'text'"
    ></app-input>
    <div
      class="icon-eye password__icon--eye"
      [ngClass]="{
        'icon-eye--active': isShowPassword,
        'icon-eye--closed': !isShowPassword
      }"
      (click)="toggleShowPassword()"
    ></div>
  </div>
</form>
