/* You can add global styles to this file, and also import other style files */

body {
  font-family: Roboto, sans-serif;
  height: 100vh;
  overflow: hidden;
  padding: 0 30px;
  margin: 0;
}

.button-auth {
  border: none;
  width: 374px;
  height: 44px;
  min-height: 44px;
  align-items: center;
  text-align: center;

  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;

  &--disabled {
    background: #dedede;
  }

  &--active {
    cursor: pointer;
    background: #1c1c1c;
  }

  span {
    font-family: SF Compact Display, sans-serif;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}

button:focus {
  outline: none;
}

.icon-eye {
  cursor: pointer;

  &--closed {
    background: url(src/assets/icons/eye-closed-20.png) center center no-repeat;
  }

  &--active {
    background: url(src/assets/icons/eye-20.png) center center no-repeat;
  }
}

.question {
  font-family: SF Compact Display, sans-serif;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  color: #939292;

  &__link {
    margin-left: 11px;
  }
}

.link {
  font-family: SF Compact Display, sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  color: #20201f;
  cursor: pointer;
}

.title {
  text-align: center;
  font-style: normal;
  font-size: 47px;
  color: #1c1c1c;
}

.subtitle {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #1c1c1c;
}
